<%- include('../partials/html-head') %>
<link rel="stylesheet" href="style.css">
<%- include('../partials/nav') %>

<main>
  <h1>Books Page!</h1>
  <% if (user) { %>
      <h2>Add a Book!</h2>
      <form action="/books" method="POST">
        <label>
          Title:
          <input type="text" name="name" autocomplete="off">
        </label>
        <button type="submit">Add Book</button>
      </form>
    <% } %>
  <h2>All Books!</h2>
  <ul>
    <% books.forEach(book => { %>
      <li>
        <a href="/books/<%= book._id %>"><%= book.name %></a>
      </li>
    <% }) %>
  </ul>


</main>
<%- include('../partials/footer') %>