<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>
  <h1 id="index">Books Page!</h1>
  <article>
  <% if (user) { %>
      <h2>Add a Book!</h2>
      <form class="add-book" action="/books" method="POST">
        <label>
          Title:
          <input type="text" name="name" autocomplete="off" required>
        </label>
        <label for="movie-adapt">Movie Adaptation:</label>
        <input type="checkbox" name="movieAdapt" checked id="movie-adapt-checkbox">
        <button type="submit">Add Book</button><br>
      </form>
    <% } %>
    
    <% if (books.length === 0) { %>
      <h2>There are no books.</h2>
      <% } else {%>
        <h2>All Books:</h2>
        <ul class="list-group list-group-flush">
          <% books.forEach(book => { %>
            <li class="list-group-item">
              <a href="/books/<%= book._id %>"><%= book.name %></a>
              <%= book.movieAdapt ? " has a Movie Adaptation" : " doesn't have a Movie Adaptation" %>
            </li>
          <% }) %>
        </ul>
        
<% } %>

</article>
</main>
<%- include('../partials/footer') %>