<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 


<h1>This is a new page!</h1>
<h2>implement search function here</h2>
<form action="/books/search" method="POST">
  <input type="text" name="search" autocomplete="off">
  <button>Search!</button>
</form>

<% if (search) { %>
  <h2>You searched for <%= search %></h2>
<% } %>


<% results?.forEach(book => { %>
  <a href="/books/show">
    <div>
      <form action="/profiles/addBook" method="POST">
        <h2><%= book.title %></h2>
      <img src="<%= book.imageLinks%>" alt="">
        <input hidden type="text" name="authors" value="<%= book.authors %>">
        <input hidden type="number" name="pageCount"  value="<%= book.pageCount %>"><br>
        <button type="submit">Add book to my shelf.</button>
      </form>
    </div>
</a>
<% }) %>



<%- include('../partials/footer') %> 