<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 


<h1>This is a new page!</h1>
<h2>implement search function here</h2>
<form action="/books/search" method="POST">
  <input type="text" name="search" autocomplete="off">
  <button>Search!</button>
</form>

<% if (search) { %>
  <h2>You searched for <%= search %></h2>
<% } %>


<% results?.forEach(book => { %>
  <h2><%= book.title %></h2>
  <%= book.authors %>
  <%= book.pageCount %>
  <img src="<%= book.imageLinks%>" alt=""> 
<% }) %>



<%- include('../partials/footer') %> 