<%- include('../partials/html-head') %>
<link rel="stylesheet" href="style.css">
<%- include('../partials/nav') %>

<main>
  <p><%= book.owner.name %> added this book!</p>
  <h1><%= book.name %></h1>
  <% if (user) { %>
    
  <% } %>


<%- include('../partials/footer') %>